
<div class="flex-row cont-indi">

    <div class="flex-row center indicator-container c1">
        <div class="flex-column center c-w">
            <p class="c-title">Total</p>
            <p class="c-indi">
                <strong>{{create}}</strong>
            </p>
        </div>
    </div>

    <div class="flex-row center indicator-container c2">
        <div class="flex-column center c-w">
            <p class="c-title">En progreso</p>
            <p class="c-indi">
                <strong>{{progress}}</strong>
            </p>
        </div>
    </div>

    <div class="flex-row center indicator-container c3">
        <div class="flex-column center c-w">
            <p class="c-title">Completadas</p>
            <p class="c-indi">
                <strong>{{done}}</strong>
            </p>
        </div>
    </div>
</div>